<div class="page-header">
  <h1>Bottom #<%= @bottom.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @bottom.name_id %></dd>

  <dt>Designer</dt>
  <dd><%= @bottom.designer_id %></dd>

  <dt>Season</dt>
  <dd><%= @bottom.season_id %></dd>

  <dt>Fit</dt>
  <dd><%= @bottom.fit_id %></dd>

  <dt>Color</dt>
  <dd><%= @bottom.color_id %></dd>

  <dt>Fabric</dt>
  <dd><%= @bottom.fabric_id %></dd>

  <dt>Occasion</dt>
  <dd><%= @bottom.occasion_id %></dd>

</dl>
