<div class="page-header">
  <h1>Bottom #<%= @bottom.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @bottom.name.name %></dd>

  <dt>Designer</dt>
  <dd><%= @bottom.designer.designer %></dd>

  <dt>Season</dt>
  <dd><%= @bottom.season.season %></dd>

  <dt>Fit</dt>
  <dd><%= @bottom.fit.fit %></dd>

  <dt>Color</dt>
  <dd><%= @bottom.color %></dd>

  <dt>Fabric</dt>
  <dd><%= @bottom.fabric.fabric %></dd>

  <dt>Occasion</dt>
  <dd><%= @bottom.occasion.occasion %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @bottom.image_url %>" width="250"></dd>

</dl>
