<% if @outfit.errors.any? %>
<% @outfit.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h1>Add Outfit</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_outfit" class="form-horizontal">
      <!-- Label and input for top_id -->
      <div class="form-group">
        <label for="top_id" class="col-sm-2 control-label">
          Top
        </label>
        <div class="col-sm-10">
          <%= select_tag(:top_id, options_from_collection_for_select(Top.all, :id, :name, @outfit.top_id), :class => "form-control") %>
        </div>
      </div>

      <!-- Label and input for bottom_id -->
      <div class="form-group">
        <label for="bottom_id" class="col-sm-2 control-label">
          Bottom
        </label>
        <div class="col-sm-10">
          <%= select_tag(:bottom_id, options_from_collection_for_select(Bottom.all, :id, :name, @outfit.bottom_id), :class => "form-control") %>
        </div>
      </div>

      <!-- Label and input for outerwear_id -->
      <div class="form-group">
        <label for="outerwear_id" class="col-sm-2 control-label">
          Outerwear
        </label>
        <div class="col-sm-10">
          <%= select_tag(:outerwear_id, options_from_collection_for_select(Outerwear.all, :id, :name, @outfit.outerwear_id), :class => "form-control") %>
        </div>
      </div>

      <!-- Label and input for shoe_id -->
      <div class="form-group">
        <label for="shoe_id" class="col-sm-2 control-label">
          Shoe
        </label>
        <div class="col-sm-10">
          <%= select_tag(:shoe_id, options_from_collection_for_select(Shoe.all, :id, :name, @outfit.shoe_id), :class => "form-control") %>
        </div>
      </div>

      <!-- Label and input for accessory_id -->
      <div class="form-group">
        <label for="accessory_id" class="col-sm-2 control-label">
          Accessory
        </label>
        <div class="col-sm-10">
          <%= select_tag(:accessory_id, options_from_collection_for_select(Accessory.all, :id, :name, @outfit.accessory_id), :class => "form-control") %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Create Outfit" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>

<% if @top %>
<img src="<%= @top.image_url %>" width="100">
<% else %>
<div>No top displayed.</div>
<% end %>

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Outfit</h3>
      </div>
      <div class="panel-body">
        <form action="/create_outfit" class="form-horizontal">
          <!-- Label and input for top_id -->
          <div class="form-group">
            <label for="top_id" class="col-sm-2 control-label">
              Top
            </label>
            <div class="col-sm-10">
              <input type="text" id="top_id" name="top_id" placeholder="Top" class="form-control" value="<%= @top.id %>">
            </div>
          </div>

          <!-- Label and input for bottom_id -->
          <div class="form-group">
            <label for="bottom_id" class="col-sm-2 control-label">
              Bottom
            </label>
            <div class="col-sm-10">
              <input type="text" id="bottom_id" name="bottom_id" placeholder="Bottom" class="form-control" value="<%= @outfit.bottom_id %>">
            </div>
          </div>

          <!-- Label and input for outerwear_id -->
          <div class="form-group">
            <label for="outerwear_id" class="col-sm-2 control-label">
              Outerwear
            </label>
            <div class="col-sm-10">
              <input type="text" id="outerwear_id" name="outerwear_id" placeholder="Outerwear" class="form-control" value="<%= @outfit.outerwear_id %>">
            </div>
          </div>

          <!-- Label and input for shoe_id -->
          <div class="form-group">
            <label for="shoe_id" class="col-sm-2 control-label">
              Shoe
            </label>
            <div class="col-sm-10">
              <input type="text" id="shoe_id" name="shoe_id" placeholder="Shoe" class="form-control" value="<%= @outfit.shoe_id %>">
            </div>
          </div>

          <!-- Label and input for accessory_id -->
          <div class="form-group">
            <label for="accessory_id" class="col-sm-2 control-label">
              Accessory
            </label>
            <div class="col-sm-10">
              <input type="text" id="accessory_id" name="accessory_id" placeholder="Accessory" class="form-control" value="<%= @outfit.accessory_id %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Create Outfit" class="btn btn-primary">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
