<% if @outfit.errors.any? %>
<% @outfit.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h1>Add Outfit</h1>
</div>

<div class = "container">

  <div class="row">
    <% if @top %>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="<%= @top.image_url %>" class="image-over" alt="...">
        <div class="caption">
          <h6><%= @top.designer.designer %> <%= @top.name.name %></h6>
          <p>#<%= @top.season.season.downcase %> #<%= @top.fit.fit.downcase %> #<%= @top.fabric.fabric.downcase %>
            <a href="/outfits/tops/select" class="btn btn-default" role="button">Select new top</a> </p>
          </div>
        </div>
      </div>
      <% else %>
      <div class="col-md-3">
        <div class="thumbnail">
          <div class="caption">
            <p>No top displayed.</p>
            <p><a href="/outfits/tops/select" class="btn btn-default" role="button">Select top</a> </p>
          </div>
        </div>
      </div>
      <% end %>

      <% if @bottom %>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="<%= @bottom.image_url %>" class="image-over" alt="...">
          <div class="caption">
            <h6><%= @bottom.designer.designer %> <%= @bottom.name.name %></h6>
            <p>#<%= @bottom.season.season.downcase %> #<%= @bottom.fit.fit.downcase %> #<%= @bottom.fabric.fabric.downcase %>
              <a href="/outfits/bottoms/select" class="btn btn-default" role="button">Select new bottom</a> </p>
            </div>
          </div>
        </div>
        <% else %>
        <div class="col-md-3">
          <div class="thumbnail">
            <div class="caption">
              <p>No bottom displayed.</p>
              <p><a href="/outfits/bottoms/select" class="btn btn-default" role="button">Select bottom</a> </p>
            </div>
          </div>
        </div>
        <% end %>

        <% if @shoe %>
        <div class="col-md-3">
          <div class="thumbnail">
            <img src="<%= @shoe.image_url %>" class="image-over" alt="...">
            <div class="caption">
              <h6><%= @shoe.designer.designer %> <%= @shoe.name.name %></h6>
              <p>#<%= @shoe.season.season.downcase %> #<%= @shoe.fit.fit.downcase %> #<%= @shoe.fabric.fabric.downcase %>
                <a href="/outfits/shoes/select" class="btn btn-default" role="button">Select new shoes</a> </p>
              </div>
            </div>
          </div>
          <% else %>
          <div class="col-md-3">
            <div class="thumbnail">
              <div class="caption">
                <p>No shoes displayed.</p>
                <p><a href="/outfits/shoes/select" class="btn btn-default" role="button">Select shoes</a> </p>
              </div>
            </div>
          </div>
          <% end %>

          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Selections</h3>
              </div>
              <div class="panel-body">
                <form action="/create_outfit" class="form-horizontal">
                  <div class="form-group">
                    <label for="user_id" class="col-sm-2 control-label">
                      User
                    </label>
                    <div class="col-sm-7 col-sm-offset-2"
                    <div class="col-sm-10">
                    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @outfit.user_id), :class => "form-control") %>
                    </div>
                  </div>

                  <!-- Label and input for top_id -->
                  <% if @top.present? %>
                  <div class="form-group">
                    <label for="top_id" class="col-sm-2 control-label">
                      Top
                    </label>
                    <div class="col-sm-7 col-sm-offset-2">
                      <input type="text" id="top_id" name="top_id" placeholder="ID" class="form-control" value="<%= @top.id %>">
                    </div>
                  </div>
                  <% else %>
                  <div class="form-group">
                    <label for="top_id" class="col-sm-2 control-label">
                      Top
                    </label>
                    <div class="col-sm-7 col-sm-offset-2">
                      <input type="text" id="top_id" name="top_id" placeholder="ID" class="form-control" value="">
                    </div>
                  </div>
                  <% end  %>

                  <% if @bottom.present? %>
                  <div class="form-group">
                    <label for="bottom_id" class="col-sm-2 control-label">
                      Bottom
                    </label>
                    <div class="col-sm-7 col-sm-offset-2">
                      <input type="text" id="bottom_id" name="bottom_id" placeholder="ID" class="form-control" value="<%= @bottom.id %>">
                    </div>
                  </div>
                  <% else %>
                  <div class="form-group">
                    <label for="bottom_id" class="col-sm-2 control-label">
                      Bottom
                    </label>
                    <div class="col-sm-7 col-sm-offset-2">
                      <input type="text" id="bottom_id" name="bottom_id" placeholder="ID" class="form-control" value="">
                    </div>
                  </div>
                  <% end  %>

                  <% if @outerwear.present? %>
                  <div class="form-group">
                    <label for="outerwear_id" class="col-sm-2 control-label">
                      Outerwear
                    </label>
                    <div class="col-sm-7 col-sm-offset-2">
                      <input type="text" id="outerwear_id" name="outerwear_id" placeholder="ID" class="form-control" value="<%= @outerwear.id %>">
                    </div>
                  </div>
                  <% else %>
                  <div class="form-group">
                    <label for="outerwear_id" class="col-sm-2 control-label">
                      Outerwear
                    </label>
                    <div class="col-sm-7 col-sm-offset-2">
                      <input type="text" id="outerwear_id" name="outerwear_id" placeholder="ID" class="form-control" value="">
                    </div>
                  </div>
                  <% end  %>

                  <% if @shoe.present? %>
                  <div class="form-group">
                    <label for="shoe_id" class="col-sm-2 control-label">
                      Shoe
                    </label>
                    <div class="col-sm-7 col-sm-offset-2">
                      <input type="text" id="shoe_id" name="shoe_id" placeholder="ID" class="form-control" value="<%= @shoe.id %>">
                    </div>
                  </div>
                  <% else %>
                  <div class="form-group">
                    <label for="shoe_id" class="col-sm-2 control-label">
                      Shoe
                    </label>
                    <div class="col-sm-7 col-sm-offset-2">
                      <input type="text" id="shoe_id" name="shoe_id" placeholder="ID" class="form-control" value="">
                    </div>
                  </div>
                  <% end  %>

                  <% if @accessory.present? %>
                  <div class="form-group">
                    <label for="accessory_id" class="col-sm-2 control-label">
                      Accessory
                    </label>
                    <div class="col-sm-7 col-sm-offset-2">
                      <input type="text" id="accessory_id" name="accessory_id" placeholder="ID" class="form-control" value="<%= @accessory.id %>">
                    </div>
                  </div>
                  <% else %>
                  <div class="form-group">
                    <label for="accessory_id" class="col-sm-2 control-label">
                      Accessory
                    </label>
                    <div class="col-sm-7 col-sm-offset-2">
                      <input type="text" id="accessory_id" name="accessory_id" placeholder="ID" class="form-control" value="">
                    </div>
                  </div>
                  <% end %>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <input type="submit" value="Create Outfit" class="btn btn-primary">
                    </div>
                  </div>
                </form>
                <div class="col-md-1">
                  <p><a href="/outfits/select/clear" class="btn btn-clear1 btn-warning" role="button">Clear outfit</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row offset6">
          <% if @outerwear %>
          <div class="col-md-3">
            <div class="thumbnail">
              <img src="<%= @outerwear.image_url %>" class="image-over" alt="...">
              <div class="caption">
                <h6><%= @outerwear.designer.designer %> <%= @outerwear.name.name %></h6>
                <p>#<%= @outerwear.season.season.downcase %> #<%= @outerwear.fit.fit.downcase %> #<%= @outerwear.fabric.fabric.downcase %>
                  <a href="/outfits/outerwears/select" class="btn btn-default" role="button">Select new outerwear</a> </p>
                </div>
              </div>
            </div>
            <% else %>
            <div class="col-md-3">
              <div class="thumbnail">
                <div class="caption">
                  <p>No outerwear displayed.</p>
                  <p><a href="/outfits/outerwears/select" class="btn btn-default" role="button">Select outerwear</a> </p>
                </div>
              </div>
            </div>
            <% end %>

            <% if @accessory %>
            <div class="row">
              <div class="col-md-3">
                <div class="thumbnail">
                  <img src="<%= @accessory.image_url %>" class="image-over" alt="...">
                  <div class="caption">
                    <h6><%= @accessory.designer.designer %> <%= @accessory.name.name %></h6>
                    <p>#<%= @accessory.season.season.downcase %> #<%= @accessory.fit.fit.downcase %> #<%= @accessory.fabric.fabric.downcase %>
                      <a href="/outfits/accessories/select" class="btn btn-default" role="button">Select new accessories</a> </p>
                    </div>
                  </div>
                </div>
                <% else %>
                <div class="col-md-3">
                  <div class="thumbnail">
                    <div class="caption">
                      <p>No accessories displayed.</p>
                      <p><a href="/outfits/accessories/select" class="btn btn-default" role="button">Select accessories</a> </p>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>

