  <body>
    <div class="page-header">
      <h1>Outerwear Dashboard</h1>
    </div>
    <div class="container">
      <!-- <div class="row">
        <div class="col-md-9">
          <div class="btn-group btn-group-justified">
            <div class="btn-group">
              <button type="button" class="btn btn-default">Tops</button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default">Outerwear</button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default">Bottoms</button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default">Shoes</button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default">Accessories</button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Clients <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">P. Christman</a></li>
              <li><a href="#">K. Lamar</a></li>
              <li><a href="#">K. West</a></li>
              <li><a href="#">A. Rocky</a></li>
              <li><a href="#">C. Gambino</a></li>
              <li><a href="#">T. Creator</a></li>
              <li><a href="#">K. Cudi</a></li>
            </ul>
          </div>
        </div>
      </div> -->
      <div class="row top-buffer offset6">

        <div class="row">
          <div class="col-md-9">
            <% @outerwears.each do |outerwear| %>
            <div class="col-md-3">
              <div class="thumbnail">
                <img src="<%= outerwear.image_url %>" class="image-small" alt="...">
                <div class="caption">
                  <h6><%= outerwear.designer.designer %> <%= outerwear.name.name %></h6>
                  <p>#<%= outerwear.season.season.downcase %> #<%= outerwear.fit.fit.downcase %> #<%= outerwear.color.color.downcase %> #<%= outerwear.fabric.fabric.downcase %> #<%= outerwear.occasion.occasion.downcase %></p>
                  <p><a href="/outfits/outerwears/add?outerwear_id=<%= outerwear.id %>" class="btn btn-default" role="button">Select</a> </p>
                </div>
              </div>
            </div>
            <% end %>
          </div>

          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Current Selections</h3>
              </div>
              <div class="panel-body">

                <% if @top.present? %>
                <div class="form-group">
                  <label for="top_id" class="col-sm-2 control-label">
                    Top
                  </label>
                  <div class="col-sm-7 col-sm-offset-2">
                    <input type="text" id="top_id" name="top_id" placeholder="ID" class="form-control" value="<%= @top.id %>">
                  </div>
                </div>
                <% else %>
                <div class="form-group">
                  <label for="top_id" class="col-sm-2 control-label">
                    Top
                  </label>
                  <div class="col-sm-7 col-sm-offset-2">
                    <input type="text" id="top_id" name="top_id" placeholder="ID" class="form-control" value="">
                  </div>
                </div>
                <% end  %>

                <% if @bottom.present? %>
                <div class="form-group">
                  <label for="bottom_id" class="col-sm-2 control-label">
                    Bottom
                  </label>
                  <div class="col-sm-7 col-sm-offset-2">
                    <input type="text" id="bottom_id" name="bottom_id" placeholder="ID" class="form-control" value="<%= @bottom.id %>">
                  </div>
                </div>
                <% else %>
                <div class="form-group">
                  <label for="bottom_id" class="col-sm-2 control-label">
                    Bottom
                  </label>
                  <div class="col-sm-7 col-sm-offset-2">
                    <input type="text" id="bottom_id" name="bottom_id" placeholder="ID" class="form-control" value="">
                  </div>
                </div>
                <% end  %>

                <% if @outerwear.present? %>
                <div class="form-group">
                  <label for="outerwear_id" class="col-sm-2 control-label">
                    Outerwear
                  </label>
                  <div class="col-sm-7 col-sm-offset-2">
                    <input type="text" id="outerwear_id" name="outerwear_id" placeholder="ID" class="form-control" value="<%= @outerwear.id %>">
                  </div>
                </div>
                <% else %>
                <div class="form-group">
                  <label for="outerwear_id" class="col-sm-2 control-label">
                    Outerwear
                  </label>
                  <div class="col-sm-7 col-sm-offset-2">
                    <input type="text" id="outerwear_id" name="outerwear_id" placeholder="ID" class="form-control" value="">
                  </div>
                </div>
                <% end  %>

                <% if @shoe.present? %>
                <div class="form-group">
                  <label for="shoe_id" class="col-sm-2 control-label">
                    Shoe
                  </label>
                  <div class="col-sm-7 col-sm-offset-2">
                    <input type="text" id="shoe_id" name="shoe_id" placeholder="ID" class="form-control" value="<%= @shoe.id %>">
                  </div>
                </div>
                <% else %>
                <div class="form-group">
                  <label for="shoe_id" class="col-sm-2 control-label">
                    Shoe
                  </label>
                  <div class="col-sm-7 col-sm-offset-2">
                    <input type="text" id="shoe_id" name="shoe_id" placeholder="ID" class="form-control" value="">
                  </div>
                </div>
                <% end  %>

                <% if @accessory.present? %>
                <div class="form-group">
                  <label for="accessory_id" class="col-sm-2 control-label">
                    Accessory
                  </label>
                  <div class="col-sm-7 col-sm-offset-2">
                    <input type="text" id="accessory_id" name="accessory_id" placeholder="ID" class="form-control" value="<%= @accessory.id %>">
                  </div>
                </div>
                <% else %>
                <div class="form-group">
                  <label for="accessory_id" class="col-sm-2 control-label">
                    Accessory
                  </label>
                  <div class="col-sm-7 col-sm-offset-2">
                    <input type="text" id="accessory_id" name="accessory_id" placeholder="ID" class="form-control" value="">
                  </div>
                </div>
                <% end  %>
              </div>
            </div>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search for item...">
              </div>
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </form>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
