<div class="page-header">
  <h1>Outfit #<%= @outfit.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Top</dt>
  <dd><%= @outfit.top_id %></dd>

  <dt>Bottom</dt>
  <dd><%= @outfit.bottom_id %></dd>

  <dt>Outerwear</dt>
  <dd><%= @outfit.outerwear_id %></dd>

  <dt>Shoe</dt>
  <dd><%= @outfit.shoe_id %></dd>

  <dt>Accessory</dt>
  <dd><%= @outfit.accessory_id %></dd>

</dl>
