<div class="page-header">
  <h1>Outfit #<%= @outfit.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Top</dt>
  <dd><%= @outfit.top.designer %></dd>

  <dt>Bottom</dt>
  <dd><%= @outfit.bottom.designer %></dd>

  <dt>Outerwear</dt>
  <dd><%= @outfit.outerwear.designer %></dd>

  <dt>Shoe</dt>
  <dd><%= @outfit.shoe.designer %></dd>

  <dt>Accessory</dt>
  <dd><%= @outfit.accessory.designer %></dd>

</dl>
