<div class="page-header">
  <h1>Top #<%= @top.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @top.name.try(:name) %></dd>

  <dt>Designer</dt>
  <dd><%= @top.designer.try(:designer) %></dd>

  <dt>Season</dt>
  <dd><%= @top.season.try(:season) %></dd>

  <dt>Fit</dt>
  <dd><%= @top.fit.try(:fit) %></dd>

  <dt>Color</dt>
  <dd><%= @top.color.try(:color) %></dd>

  <dt>Fabric</dt>
  <dd><%= @top.fabric.try(:fabric) %></dd>

  <dt>Occasion</dt>
  <dd><%= @top.occasion.try(:occasion) %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @top.image_url %>" width="250"></dd>


</dl>
