<div class="page-header">
  <h1>Top #<%= @top.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @top.name.name %></dd>

  <dt>Designer</dt>
  <dd><%= @top.designer.designer %></dd>

  <dt>Season</dt>
  <dd><%= @top.season.season %></dd>

  <dt>Fit</dt>
  <dd><%= @top.fit.fit %></dd>

  <dt>Color</dt>
  <dd><%= @top.color.color %></dd>

  <dt>Fabric</dt>
  <dd><%= @top.fabric.fabric %></dd>

  <dt>Occasion</dt>
  <dd><%= @top.occasion.occasion %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @top.image_url %>" width="250"></dd>


</dl>
