<div class="page-header">
  <h1>Top #<%= @top.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @top.name_id %></dd>

  <dt>Designer</dt>
  <dd><%= @top.designer_id %></dd>

  <dt>Season</dt>
  <dd><%= @top.season_id %></dd>

  <dt>Fit</dt>
  <dd><%= @top.fit_id %></dd>

  <dt>Color</dt>
  <dd><%= @top.color_id %></dd>

  <dt>Fabric</dt>
  <dd><%= @top.fabric_id %></dd>

  <dt>Occasion</dt>
  <dd><%= @top.occasion_id %></dd>

</dl>
