<div class="page-header">
  <h1>Outerwear #<%= @outerwear.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @outerwear.name.name %></dd>

  <dt>Designer</dt>
  <dd><%= @outerwear.designer.designer %></dd>

  <dt>Season</dt>
  <dd><%= @outerwear.season.season %></dd>

  <dt>Fit</dt>
  <dd><%= @outerwear.fit.fit %></dd>

  <dt>Color</dt>
  <dd><%= @outerwear.color %></dd>

  <dt>Fabric</dt>
  <dd><%= @outerwear.fabric.fabric %></dd>

  <dt>Occasion</dt>
  <dd><%= @outerwear.occasion.occasion %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @outerwear.image_url %>" width="250"></dd>

</dl>
