<div class="page-header">
  <h1>Outerwear #<%= @outerwear.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @outerwear.name_id %></dd>

  <dt>Designer</dt>
  <dd><%= @outerwear.designer_id %></dd>

  <dt>Season</dt>
  <dd><%= @outerwear.season_id %></dd>

  <dt>Fit</dt>
  <dd><%= @outerwear.fit_id %></dd>

  <dt>Color</dt>
  <dd><%= @outerwear.color_id %></dd>

  <dt>Fabric</dt>
  <dd><%= @outerwear.fabric_id %></dd>

  <dt>Occasion</dt>
  <dd><%= @outerwear.occasion_id %></dd>

</dl>
