<div class="page-header">
  <h1>Outerwear #<%= @outerwear.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @outerwear.name.try(:name) %></dd>

  <dt>Designer</dt>
  <dd><%= @outerwear.designer.try(:designer) %></dd>

  <dt>Season</dt>
  <dd><%= @outerwear.season.try(:season) %></dd>

  <dt>Fit</dt>
  <dd><%= @outerwear.fit.try(:fit) %></dd>

  <dt>Color</dt>
  <dd><%= @outerwear.color.try(:color) %></dd>

  <dt>Fabric</dt>
  <dd><%= @outerwear.fabric.try(:fabric) %></dd>

  <dt>Occasion</dt>
  <dd><%= @outerwear.occasion.try(:occasion) %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @outerwear.image_url %>" width="250"></dd>

</dl>
