<div class="page-header">
  <h1>Shoe #<%= @shoe.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @shoe.name.name %></dd>

  <dt>Designer</dt>
  <dd><%= @shoe.designer.designer %></dd>

  <dt>Season</dt>
  <dd><%= @shoe.season.season %></dd>

  <dt>Fit</dt>
  <dd><%= @shoe.fit.fit %></dd>

  <dt>Color</dt>
  <dd><%= @shoe.color %></dd>

  <dt>Fabric</dt>
  <dd><%= @shoe.fabric.fabric %></dd>

  <dt>Occasion</dt>
  <dd><%= @shoe.occasion.occasion %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @shoe.image_url %>" width="250"></dd>

</dl>
