<div class="page-header">
  <h1>Accessories</h1>
</div>

<p><a href="/accessories/new" class="btn btn-primary">Add a New Accessory</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Designer</th>
      <th>Season</th>
      <th>Fit</th>
      <th>Color</th>
      <th>Fabric</th>
      <th>Occasion</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accessories.each do |accessory| %>
      <tr>
        <td><%= accessory.name.name %></td>
        <td><%= accessory.designer.designer %></td>
        <td><%= accessory.season.season %></td>
        <td><%= accessory.fit.fit %></td>
        <td><%= accessory.color.try(:color) %></td>
        <td><%= accessory.fabric.fabric %></td>
        <td><%= accessory.occasion.occasion %></td>
        <td><img src="<%= accessory.image_url %>" width="30"></td>
        <td>
          <a href="/accessories/<%= accessory.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/accessories/<%= accessory.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_accessory/<%= accessory.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

