<div class="page-header">
  <h1>Accessory #<%= @accessory.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @accessory.name.try(:name) %></dd>

  <dt>Designer</dt>
  <dd><%= @accessory.designer.try(:designer) %></dd>

  <dt>Season</dt>
  <dd><%= @accessory.season.try(:season) %></dd>

  <dt>Fit</dt>
  <dd><%= @accessory.fit.try(:fit) %></dd>

  <dt>Color</dt>
  <dd><%= @accessory.color.try(:color) %></dd>

  <dt>Fabric</dt>
  <dd><%= @accessory.fabric.try(:fabric) %></dd>

  <dt>Occasion</dt>
  <dd><%= @accessory.occasion.try(:occasion) %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @accessory.image_url %>" width="250"></dd>

</dl>
