<div class="page-header">
  <h1>Accessory #<%= @accessory.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @accessory.name.name %></dd>

  <dt>Designer</dt>
  <dd><%= @accessory.designer.designer %></dd>

  <dt>Season</dt>
  <dd><%= @accessory.season.season %></dd>

  <dt>Fit</dt>
  <dd><%= @accessory.fit.fit %></dd>

  <dt>Color</dt>
  <dd><%= @accessory.color %></dd>

  <dt>Fabric</dt>
  <dd><%= @accessory.fabric.fabric %></dd>

  <dt>Occasion</dt>
  <dd><%= @accessory.occasion.occasion %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @accessory.image_url %>" width="250"></dd>

</dl>
