<div class="page-header">
  <h1>Accessory #<%= @accessory.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @accessory.name_id %></dd>

  <dt>Designer</dt>
  <dd><%= @accessory.designer_id %></dd>

  <dt>Season</dt>
  <dd><%= @accessory.season_id %></dd>

  <dt>Fit</dt>
  <dd><%= @accessory.fit_id %></dd>

  <dt>Color</dt>
  <dd><%= @accessory.color_id %></dd>

  <dt>Fabric</dt>
  <dd><%= @accessory.fabric_id %></dd>

  <dt>Occasion</dt>
  <dd><%= @accessory.occasion_id %></dd>

</dl>
